.bookappo {
    max-width: 60rem;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookappo h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: black;
}

.bookappo label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    font-size: 1.6rem;
}

.bookappo input[type="text"],
.bookappo input[type="number"],
.bookappo input[type="date"],
.bookappo select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.bookappo button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.bookappo button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.bookappo p {
    text-align: center;
    color: #28a745; /* Green text for success message */
    font-size: 16px;
}
