.usernav{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border-bottom: 0.2rem solid rgb(16, 169, 235);
    background-color: rgb(211, 241, 243);

    
}



.usernav .userdetails ul{
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
    gap:5rem;
    font-weight: 500;
}

.usernav .userlinks ul{
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
    gap:5rem;
    
}

.usernav .userlinks ul li:hover  {
    color: green;
}

.userlinks ul li button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 0.5rem 0.5rem;
    border-radius: 5px; /* Rounded corners */
    font-size: 1.6rem; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.userlinks ul li button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}