
.Index-container{
    margin-top: 3rem;
    padding-top:3rem;
    padding-bottom: 3rem;
    height: auto;
    font-size: 2.8rem;
}
.Index-container main{
    display: flex;
    justify-content: space-between;
    gap:5rem;
}

.Index-container main .intro{
    margin:auto 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

/*================== */

.Index-important {
    background-color: #F5F5F5;
    font-size: 1.6rem;
    padding: 3rem 0;
    margin: 3rem 0;
    padding-bottom: 5rem;
    
}

.Index-important .important-grid {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.Index-important .important-grid > div {
    padding: 2rem;
    background-color: #A4EBF3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.Index-important .important-grid h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.Index-important .important-grid p {
    line-height: 1.6;
    margin-bottom: 1rem;
}


/* INDEX PAGE End*/