/* Header start */

header {
    /* to align header-nav center */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: lightblue;
}

.header-nav {
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
    box-sizing: border-box;
}

.header-nav-logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #2C3E50; /* Text color for logo */
}

.header-nav img{
    height: 4rem;
    width: 4rem;
}

header ul{
    display: flex;
    gap:2rem;
    list-style-type: none;
    align-items: center;
    font-size: 2.2rem;
}

.header-nav-links ul li:hover {
    color: green;
  }

/* Header End */